<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="MetaCleanContextMenuCleanup" Guid="*" Win64="yes">
        <RegistryValue Root="HKCU" Key="Software\MetaClean" Name="InstallerCleanup" Type="integer" Value="1" KeyPath="yes" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext0" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.jpg\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext1" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.jpeg\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext2" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.jpe\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext3" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.png\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext4" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.webp\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext5" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.gif\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext6" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.bmp\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext7" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.dib\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext8" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.tif\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext9" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.tiff\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext10" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.heic\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext11" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.heif\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext12" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.heics\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext13" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.heifs\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext14" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.hif\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext15" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.avif\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext16" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.avifs\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext17" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.cr2\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext18" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.cr3\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext19" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.crw\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext20" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.nef\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext21" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.nrw\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext22" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.arw\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext23" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.srf\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext24" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.sr2\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext25" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.orf\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext26" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.rw2\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext27" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.rwl\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext28" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.dng\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext29" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.pef\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext30" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.srw\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext31" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.raf\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext32" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.3fr\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext33" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.erf\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext34" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.mef\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext35" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.mos\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext36" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.iiq\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext37" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.kdc\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext38" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.dcr\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext39" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.k25\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext40" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.mp3\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext41" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.wav\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext42" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.flac\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext43" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.mp4\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext44" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.mov\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext45" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.m4v\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext46" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.m4a\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext47" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.3g2\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext48" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.3gp\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext49" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.3gp2\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext50" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.3gpp\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext51" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.f4a\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext52" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.f4b\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext53" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.f4p\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext54" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.f4v\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext55" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.lrv\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext56" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.m4b\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext57" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.m4p\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext58" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.mqv\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext59" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.qt\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext60" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.avi\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext61" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.asf\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext62" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.wmv\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext63" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.wma\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext64" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.mkv\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext65" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.mka\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext66" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.mks\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext67" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.mk3d\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext68" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.webm\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext69" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.docx\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext70" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.xlsx\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext71" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.pptx\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext72" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.odt\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext73" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.epub\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext74" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.pdf\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext75" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.txt\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext76" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.md\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext77" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.markdown\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext78" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.html\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext79" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.htm\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext80" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.xhtml\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext81" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.svg\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext82" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.xml\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext83" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.json\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext84" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.csv\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext85" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.tsv\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext86" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.yaml\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext87" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.yml\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext88" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.log\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext89" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.srt\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext90" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.vtt\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext91" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.aif\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext92" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.aiff\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext93" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.aifc\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext94" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.ods\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext95" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.odp\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext96" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.odg\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext97" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.odf\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext98" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.odb\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext99" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.odm\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext100" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.ott\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext101" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.ots\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext102" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.otp\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext103" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.otg\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanContext104" Root="HKCU" Key="Software\Classes\SystemFileAssociations\.jxl\shell\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanInstallState" Root="HKCU" Key="Software\moresl\MetaClean" Action="removeOnUninstall" />
        <RemoveRegistryKey Id="RemoveMetaCleanCleanupState" Root="HKCU" Key="Software\MetaClean" Action="removeOnUninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
